ADMIN_API_TOKEN=token
BOT_IMAGE_NAME=vexa-bot:dev
LOG_LEVEL=INFO
# Provide either base64-encoded or raw JSON credentials for Google Cloud
GOOGLE_APPLICATION_CREDENTIALS_JSON_B64=
GOOGLE_APPLICATION_CREDENTIALS_JSON=
GOOGLE_CLOUD_PROJECT=
# Exposed Host Ports
API_GATEWAY_HOST_PORT=18056
ADMIN_API_HOST_PORT=18057
TRANSCRIPTION_COLLECTOR_HOST_PORT=18123
POSTGRES_HOST_PORT=15438
